body {

}

#output1 {
  display:none;
}

#output2 {
  display:none;
}

#output3 {
  display:none;
}

.bottom {

  display:none;
  padding-top:20px;
  text-align:justify;
  background-color: #243a5e;
  color:white;
  border-bottom-right-radius:60px;
}

.html {
  display:none;
}

.sharp {
  display:none;
}

.ruby {
  display:none;
}

h4 {
  text-align:center;
}

li {
  list-style:none;
}

label {
  width:250px;
}

select {
  width:250px;
}

.yourcourse {
  display:none;
  text-align:center;
}

.rightside {
}

.rightside img {
  margin:auto;
  display:block;
}

.container-fluid p {
  margin:5px;
  font-size:15px;
}

.container-fluid {
  margin-top:20px;
  width:700px;
  background-color:#f3f3f3;
  padding-left:0;
  padding-right:0;
  border:2px solid black;
  border-bottom-right-radius:66px;
  border-top-left-radius:66px;
}


.titlearea {
  text-align:center;
  background-color:#243a5e;
  height:50px;
  border-bottom:2px solid black;
  border-top-left-radius:66px;
}

.titlearea h1 {
  margin:0;
  padding:0;
  color:#f3f3f3;
  text-align:center;
  /*border-top-left-radius:66px;*/
}

select:hover {
  background-color:#b8c3d6;
}

option:hover {
  background-color:#819ac1;
}

select {
  cursor:pointer;
}

button:hover {
  background-color:#819ac1;
}

a:hover {
  text-decoration: underline;
}
